.PostHeader {
    display: flex;
    align-items: center;
}

.Avatar {
    background-color: lightslategray;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.Post {
    height: 250px;
    margin-top: 10px;
}