.Layout {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

.Main {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.Main > div {
    padding: 20px;
}

.Panel {
    background-color: lightgray;
    flex-basis: 20%;
}

.Content {
    flex-grow: 1;
    margin-top: 20px;
}